{% load static %}
<!DOCTYPE html>

<html lang="es">
  <!--cabecera de pagina + links-->
  <head>
      <!--- Meta Tags-->
      <meta charset="utf-8">
      <meta name="viewport" content="width = device-width, initial-scale =1.0">
      <!--Bootstrap links-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      
      <!--Link a estilos-->
      <link rel="stylesheet" href="{% static 'Jaguarete/EstiloGeneral.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">  
      
      {% block Head %}
      
      {% endblock Head %}

    </head>

  <!--Cuerpo de la página-->
  <body>
    <!--Header-->
      <header>
        <!--Imagen-->
        <div class = "logo">
          <img width="16%" src=https://images.vexels.com/media/users/3/223243/isolated/lists/8e29aeebd260297845c3057f58a1289c-insignia-del-pais-leopardo-argentina.png />
        </div>
        <!--Botones encabezado-->
        <div class="header-right">
          {% if user.is_authenticated %}
            <h4> Bienvenido: {{ user.get_username }}</h4>
            <a href="{% url 'logout'%}?next={{rewuest.path}}">LOGOUT</a>
            {% if not user.is_superuser %}
              <button class="btn btn-outline-dark" onclick="window.location.href='jaguaetePRUEDA:carrito'">CARRITO</button>
            {% endif %}
          {% else %}
            <button class="btn btn-outline-dark" onclick="window.location.href='/accounts/login'">LOGIN</button>
            <button class="btn btn-outline-dark" onclick="window.location.href='/registarse/'">REGISTRO</button>
            <button class="btn btn-outline-dark" onclick="window.location.href='jaguaetePRUEDA:carrito'">CARRITO</button>
          {% endif %}
        </div>
      </header>
    <!--Fin de Header-->

    <!--Menu de navegacion-->
      <nav class="navbar navbar-expand-sm navbar-light">
        <!--Colapso-->
        <div class="container-fluid">
          <!--Titulo de Menu-->
          <div class="navbar-brand">Menu</div>

          <!--Boton cuando se achica la pantalla-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarsExample03">
            <!--Cosas en el menu-->
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'jaguaetePRUEDA:inicio' %}">Home</a>
                </li>
                  
                <!--Boton de categorias-->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown03">
                    {% for Cat in listcat %}
                    <li><a class="dropdown-item" href="{% url 'jaguaetePRUEDA:filtro_categoria' Cat.id %}">{{Cat}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <!--Fin de boton de categorias-->

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'jaguaetePRUEDA:acercade' %}">Acerca de...</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="mailto:cayalta.evelyn@hotmail.com">Contactanos</a>
                </li>

                {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'jaguaetePRUEDA:agregarproducto' %}">Agregar Producto</a>
                </li>
                {% endif %}

            </ul>
            <!--Fin de cosas en el menu-->

            <!--Boton de busqueda-->
            <form>
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
          </div>
        </div>
        <!--Fin de colapso-->
      </nav>
    <!--Fin de barra de menu-->

    <!--Cuerpo de pagina-->
    {% block content %}
 
    {% endblock content %}
    <!--Final del cuerpo de pagina-->

    <!--Pie de pagina-->
      <footer>
        <p>JAGUARETE KAA S.A Copyright</p>
        <p>Evelyn Cayalta Fernandez</p>
      </footer>
    <!--Fin de pie de pagina-->

    <!--Links adicionales-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>