{% extends "registration/layout.html" %}
{% load static %}

    {% block Head %}  
    <title>Pagina de login</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/Login.css' %}">
    {% endblock Head %}

{% block content %}
<!--Cuerpo de pagina-->
<main>
    <section class="card">
        <h1>Acceder a la web</h1>
        <br>
        <!--Error en el form del login-->
        {% if form.errors%}
            <spam>El usuario o la contraseña no coinciden.
                Por favor, intente nuevamente asegurandose que los datos sean correctos.
            </spam>
        {% endif %}

        <!--Error ya inicio sesion-->
        {% if next %}
            {% if user.is_authenticated %}
                <spam> Ya has iniciado sesion con una cuenta.
                    Si deseas iniciar sesion con otra cuenta, por favor clickea en logout.
                </spam>

            {% else %}
                <spam>Por favor, inicie sesión para ver esta página.</spam>
            {% endif %}
        {% endif %}
                <br>
        <!--Form para login-->
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

            <div class="mb-4 row">
                <label for="usuario" class="col-sm-5 col-form-label"">{{ form.username.label_tag }}</label>
                <div class="col-sm-1">
                    {{ form.username }}
                    <!--<input type="text" class="form-control" id="username">-->
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Password" class="col-sm-5 col-form-label">{{ form.password.label_tag }}</label>
                <div class="col-sm-1">{{ form.password }}
            </div>


            <!--Botones-->
            <div class="mb-4 row">
                <div class="grupobotones" style="text-align: center; margin-top: 2%;" id=grupobotones>
                    <input class="btn btn-l btn-outline-dark" type="submit" value="LOGIN" />
                    <input class="btn btn-l btn-outline-dark" onclick="window.location.href='/registarse/'" type="submit" value="REGISTRARSE" />
                    <input class="btn btn-l btn-outline-dark" type="hidden" name="next" value="{{ next }}" />
                </div>   
            </div>
        </form>
    </section>
</main>

{% endblock %}