{% extends "registration/layout.html" %}
{% block content %}
<h1>Formulario para cambiar su clave</h1>
<p>Debe ingresar el correo electrónico que usó al registrarse:</p>
<form action="" method="post">{% csrf_token %}
{% if form.email.errors %} {{ form.email.errors }} {% endif %}
<p>{{ form.email }}</p>
<input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>
<p><a href="{% url 'login' %}">Volver al Login</a></p>
{% endblock %}
