{% extends "registration/layout.html" %}
{% load static %}

    {% block Head %}
    <title>Registrarse</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/Registro.css' %}">
    {% endblock Head %}


{% block content %}
<main>
    <section class="card">
        <h1>Registrate en nuestra web</h1>
        <br>
        <form method="post">
            {% csrf_token %}
            {% for campo in form %}
            <div class="mb-3 row" style="text-align: center;">
                <label for="{{ campo.label }}" class="col-sm-2 col-form-label">{{ campo.label_tag }}</label>
                <div class="col-sm-8" style="text-align: justify">
                    {{ campo }}
                    {% if campo.help_text %}
                        <small style="color: rgb(218, 150, 6)">{{ campo.help_text }}</small>
                    {% endif %}
                    {% for error in campo.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>  
            </div>
            {% endfor %}
            <div class="boton">
                <button class="btn btn-lg btn-outline-dark" type="submit">Registrar</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}