/*Bloque de Acerca de*/
 article{
    padding: 3%;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(221, 200, 150);
    padding-bottom: 15%;
  }

  h1{
    text-align: center;
    font-family: Didot;
    font-weight: bold;
  }
