/*Main de producto*/

.card{
    background-color:rgb(221, 200, 150);
    padding: 3%;
    padding-bottom: 5%;
    margin: 1%;
    border: none;
    font-size:large;
  }

  .header{ 
    font-family: Didot;
    font-weight: bold;
  }

/*Lista de mas productos*/
.list-group-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    background-color:rgb(221, 200, 150);
    border: none;
  }
