/*Carrito de compras*/

.card{
  padding: 2%;
  text-align: justify;
  background-color:rgb(221, 200, 150);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
  font-family: Didot;
  font-weight: bold;
}

.subheader{
  font-family: "Sofia", sans-serif;
  text-align: left;
  }
ol{
  background-color:rgb(221, 200, 150);
}
  .list-group{
    padding: 2%;
    background-color:rgb(221, 200, 150);
    border: none;
  }

  .list-group .btn{
    background-color: rgb(236, 187, 82);
  }

  /*Lista de compra*/
  .list-group-item{
    display: inline;
    border: none;
    background-color:rgb(221, 200, 150);

  }

  .botonescarrito{
    text-align: right;
    margin-top: 2%;
  }
  .botonescarrito .btn{
    background-color: rgb(236, 187, 82);
    font-family: Didot;
    font-weight: bold;
  }

  
  