/*Bloque nuevo producto*/
  .nuevoproducto{
    padding: 2%;
    text-align: justify;
    background-color:rgb(221, 200, 150);
  }
  .nuevoproducto .card{
    width: auto;
    background-color:rgb(221, 200, 150);
    text-align: justify;
    border: none;
    padding-left: 1%;
  }

  .header{
    font-family: Didot;
  }

  /*Boton borrar nuevo producto*/
  .botones{
      float: right;
      font-size:large;
    }

    .botones .btn{
      background-color: rgb(236, 187, 82);
      font-family: Didot;
      font-weight: bold;
      display: inline-block;
    }