/*Tamaño del html*/
  html,body{
    margin: 1%;
    background-color: rgb(238, 218, 204);
  }
/*Fin tamaño del html*/

/*Body de pagina*/
  body{
    max-height: fit-content;
  }
/*Fin de Body Pagina*/
    /*
    Colores y fuestes que uso
    font-family: "Sofia", sans-serif
    font-family: 'Times New Roman', Times, serif
    font-family: 'Brush Script MT', cursive
    background-color: rgb(236, 187, 82) menu
    background-color: rgb(206, 140, 95) de header
    */

/*Estilo del Header*/
  /*General*/
  header{
    background-color: rgb(173, 150, 118); 
    width: 100%;
    padding:1%;
  }
  
    /*Box de botones*/
    .header-right{
      float:right;
      padding: 6%;
    }

      /*Botones interior*/
      .header-right .btn{
        background-color: rgb(236, 187, 82);
        display: inline-block;
        font-family: Didot;
        font-weight: bold;
      }

    /*Imagen*/
    .logo{
      display: inline;
    }
/*Fin de estilo Header*/

/*Estilo Barra de menu*/
  /*Barra general*/
  nav{
    margin-block:1%;
    font-family: Georgia;
    background-color: rgb(236, 187, 82);
    text-align: center;
    width: 100%;
    font-size: large;
  }
  
    /*Titulo de menu*/
    .navbar-brand{
      font-family: Didot;
      font-size: xx-large;
      font-weight: bold;
    }
/*Fin estilo Barra de menu*/

/*Estilo Main*/
  /*Main general*/
  main{
    font-family: Georgia;
    background-color: rgb(202, 175, 140); 
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1.5%;
    padding-bottom: 10%;
    margin-bottom: 1%;
  }


/*Fin estilo Main*/

/*Estilo Footer*/
  footer{
      background-color: rgb(236, 187, 82);
      font-family: Georgia;
      width: 100%;
      padding: 1%;
      text-align: center;
  }
/*Fin estilo footer*/