/*Login card*/
.card{
    background-color:rgb(221, 200, 150);
    padding: 2%;
    padding-bottom: 10%;
    margin: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
  }

  .card h1{ 
    font-family: Didot;
    font-weight: bold;
  }
    /*Botones login nuevo producto*/
    .grupobotones .btn{
      background-color: rgb(236, 187, 82);
      font-family: Didot;
      font-weight: bold;
      display: inline-block;
    }
