/*Bloque nuevo producto*/
.nuevoproducto{
    padding: 2%;
    text-align: justify;
    background-color:rgb(221, 200, 150);
  } 

  .nuevoproducto .card{
    width: auto;
    background-color:rgb(221, 200, 150);
    text-align: justify;
    border: none;
    padding-left: 1%;
  }

  h1{
    font-family: Didot;
  }

  /*Boton crear nuevo producto*/
  .col .crear .btn{
    background-color:rgb(236, 187, 82);
    float: right;
    font-family: Didot;
  }
