/*Tarjetas de productos*/
.group-card .card{
    display:inline-block;
    margin-inline: 5%;
    margin-bottom: 3%;
    border: none;
    background-color:rgb(221, 200, 150);
    width: 18rem;
  }

    /*Imageness de tarjetas de productos*/
    .card.card-img-top{
      height: 300px;
      object-fit: cover;
    }

  .card-title{
        font-family: Didot;
        font-weight: bold;
        padding-top: 2%;
      }

    .card-body .btn{
      font-family: Didot;
      font-weight: bold;
    }
    
  /*Bloque de mas productos*/
  .masproductos {
    background-color:rgb(221, 200, 150);
    width: 100%;
    padding: 1%;
  }

    /*Titulo de bloque de mas productos*/
    h5{
      font-family: Didot;
      font-size: xx-large;
      font-weight: bold;

    }

    /*Lista de mas productos*/
    .list-group-item{
      font-family: Georgia;
      text-align: left;
      background-color:rgb(221, 200, 150);
      border: none;
    }