/*Bloque de producto*/
section{
    background-color:rgb(221, 200, 150);
    margin: 1.5%;
    padding: 2%;
  }
  /*Main de producto*/
  .card{
    width: auto;
    background-color:rgb(221, 200, 150);
    text-align: justify;
    border: none;
    font-size:large;
  }

  h1{
    font-weight: bold;
    font-family: Didot;
  }
  
  h2{
    text-align: left;
    font-family: Sofia;
  }

  .row .card-img-top{
    height: 85%;
    width: 85%;
    object-fit: cover;
    margin-left: 5%;
  }

  .card-body .btn{
    float: right;
    background-color: rgb(236, 187, 82);
    font-family: "Sofia", sans-serif;
  }
  