{% extends "Jaguarete/General.html" %}
{% load static %}

    {% block Head %}  
    <title>Pagina Acerca de</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/Acercade.css' %}">
    {% endblock Head %}

    {% block Body %}
    <!--Cuerpo de pagina-->
    <main>
        <article>
            <h1>Acerca de nosotros</h1>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
    </main>
    <!--Final del cuerpo de pagina-->
    {% endblock %}