{% extends "Jaguarete/General.html" %}
{% load static %}
 
    {% block Head %}  
    <title>Pagina de Agregar Producto</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/NuevoProducto.css' %}">
    {% endblock Head %}

    {% block Body %}     
    <!--Cuerpo de pagina-->
    <main>
        <section class="nuevoproducto">
            <h1>Agregar producto a la web</h1>
            <br>
            <form>
                <input class="form-control form-control-lg" type="text" value="Ingrese titulo del producto">
                <br>
                <!--Tarjeta de producto-->
                <div class="card">
                    <!--Seccionar producto-->
                    <section class="row g-0">
                        <!--Imagen de Nuevo producto-->
                        <div class="col-md-4">
                            <label for="tituloimagen" class="form-label"> IMAGEN </label>
                            <input type="file" class="form-control">
                        </div>
                                        
                        <!--Contenido de tarjeta derecha-->
                        <aside class="col-md-8">
                            <article class="card-body">
                                <!--Seleccion de Categoria-->
                                <select class="form-select">
                                    <option value="1">Categoria 1</option>
                                    <option value="2">Categoria 2</option>
                                    <option value="3">Categoria 3</option>
                                </select>
                                <br>

                                <!--Agregar detalles de producto-->
                                <label for="detalles" class="form-label">Detalles del Producto</label>
                                <textarea class="form-control" id="detalleProducto" cols="30" rows="5"></textarea>
                                
                                <br>
                                <!--Final de tarjeta-->
                                <div class="row g-3">
                                    <!--Agregar precio-->
                                    <div class="col-auto">
                                        <span class="input-group-text">Precio: $</span>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" value="XXXX">
                                    </div>
                                    <!--Botion de crear-->
                                    <div class="col">
                                        <div class="crear">
                                            <button type="submit" class="btn btn-outline-dark"> CREAR </button>
                                        </div>
                                    </div>
                                </div>


                            </article>
                        </aside>
                        <!--Fin de contenido de tarjeta-->
                    </section>
                </div>
                <!--Fin tarjeta producto-->
            </form>
        </section>
    </main>
    <!--Final del cuerpo de pagina-->
    {% endblock %}