{% extends "Jaguarete/General.html" %}
{% load static %}

    {% block Head %}  
    <title>Pagina de busqueda</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/Busqueda.css' %}"> 
    {% endblock Head %}

    {% block Body %}
    <!--Cuerpo de pagina-->
    <main>
        <section class="card">
            <!--Produsctos encontrados-->
            <h1 class="header">Resultados de busqueda  {{palabra}}</h1>
            <br>
            <div class="list-group">
                {% for prod in list_prod %}
                <a href="{% url 'jaguaetePRUEDA:Producto' prod.id %}" class="list-group-item list-group-item-action">{{prod}}</a>
                {% endfor %}
                </div>
        </section>
    </main>
    <!--Final del cuerpo de pagina-->
    {% endblock %}