{% extends "Jaguarete/General.html" %}
{% load static %}    

    {% block Head %}  
    <title>Carrito</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/Carrito.css' %}">
    {% endblock Head %}

    {% block Body %}      
    <!--Cuerpo de pagina-->
    <main>
        <section class="card">
            <!--Produsctos encontrados-->
            <h1 class="header">Carrito de compras</h1>
            <br>
            <h3 class="subheader"> Nombre de Usuario</h3>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <a href="producto" class="list-group-item list-group-item-action">Producto 1: </a>
                        <Precio:1>Precio: $XXXXX</Precio:1>
                    </div>
                    <span class="btn btn-outline-dark" type="submit" value="delete">X</span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <a href="producto" class="list-group-item list-group-item-action">Producto 2: </a>
                        <Precio:1>Precio: $XXXXX</Precio:1>
                    </div>
                    <span class="btn btn-outline-dark" type="submit" value="delete">X</span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <a href="producto" class="list-group-item list-group-item-action">Producto 3: </a>
                        <Precio:1>Precio: $XXXXX</Precio:1>
                    </div>
                    <span class="btn btn-outline-dark" type="submit" value="delete">X</span>
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <a href="producto" class="list-group-item list-group-item-action">Producto 4: </a>
                        <Precio:1>Precio: $XXXXX</Precio:1>
                    </div>
                    <span class="btn btn-outline-dark" type="submit" value="delete">X</span>
                </li>
            </ol>
            
            <form>
                <!--Box de Botones-->
                <div class="botonescarrito">
                    <input class="btn btn-lg btn-outline-dark" type="submit" value="Vaciar carrito">
                    <input class="btn btn-lg btn-outline-dark" type="submit" value="Finalizar compra">
                </div>
            </form>
        </section>
    </main>
    <!--Final del cuerpo de pagina-->
    {% endblock %}
 