{% extends "Jaguarete/General.html" %}
{% load static %}

    {% block Head %}  
    <title>Pagina de Editar o Borrar Producto</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/EditarProducto.css' %}">
    {% endblock Head %}

    {% block Body %}
    <!--Cuerpo de pagina-->
    <main>
        <section class="nuevoproducto">
            <h1 class="header">Edicion de producto a la web</h1>
            <br>
            <form>
                <input class="form-control form-control-lg" type="text" value="Ingrese titulo del producto">
                <br>
                <!--Tarjeta de producto-->
                <div class="card">

                    <!--Seccionar producto-->
                    <section class="row g-0">
                        <!--Contenido e Imagen de Nuevo producto izquierda-->
                        <div class="col-md-4">
                            <label for="tituloimagen" class="form-label"> IMAGEN </label>
                            <input type="file" class="form-control">
                        </div>
                                        
                        <!--Contenido de tarjeta derecha-->
                        <aside class="col-md-8">
                            <article class="card-body">
                                <!--Seleccion de Categoria-->
                                <select class="form-select">
                                    <option value="1">Categoria 1</option>
                                    <option value="2">Categoria 2</option>
                                    <option value="3">Categoria 3</option>
                                </select>
                                <br>

                                <!--Agregar detalles de producto-->
                                <label for="detalles" class="form-label">Detalles del Producto</label>
                                <textarea class="form-control" id="detalleProducto" cols="30" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
                                <br>

                                <!--Editar precio-->
                                <div class="row g-3">
                                    <div class="col-auto">
                                        <span class="input-group-text">Precio: $</span>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" value="XXXX">
                                    </div>
                                    
                                    <!--Botion borrar y editar-->
                                    <div class="col">
                                        <div class="botones">
                                            <input class="btn btn-outline-dark" type="submit" value="Borrar">
                                            <input class="btn btn-outline-dark" type="submit" value="Editar">
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </aside>
                        <!--Fin de contenido de tarjeta-->
                    </section>
                </div>
                <!--Fin tarjeta producto-->
            </form>
        </section>
    </main>
    <!--Final del cuerpo de pagina-->
    {% endblock %}