{% extends "Jaguarete/General.html" %}
{% load static %}
    {% block Head %}  
    <title>Pagina de login</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/Login.css' %}">
    {% endblock Head %}

    {% block Body %}
    <!--Cuerpo de pagina-->
    <main>
        <section class="card">
            <h1>Acceder a la web</h1>
            <br>
            <form>
                <div class="mb-3 row">
                    <label for="usuario" class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Password" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputpassword">
                    </div>
                </div>

                <!--Box de Botones-->
                <div class="grupobotones">
                    <input class="btn btn-lg btn-outline-dark" type="submit" value="LOGIN">
                    <input class="btn btn-lg btn-outline-dark" type="submit" value="REGISTRARSE" onclick="window.location='/registro';"/>
                </div>
            </form>
        </section>
    </main>
    <!--Final del cuerpo de pagina-->
    {% endblock %}