{% extends "Jaguarete/General.html" %}
{% load static %}

    {% block Head %}  
    <title>Pagina pincipal</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/Principal.css' %}">
    {% endblock Head %}

    <!--Cuerpo de pagina-->
    {% block Body %}    
    <main>
      <section class="group-card">
        <!--Bloque de producto 1--> 
        {% for top3 in prod3 %}  
          <div class="card">
            <h4 class="card-title">{{top3.titulo}}</h4>
            <div class="card-body">
              <img src="{{ media_url }}{{ top3.imagen.url }}" class="card-img-top"/>
              <p class="card-text">{{top3.descripcion}}</p>
              <a href="{% url 'jaguaetePRUEDA:Producto' top3.id %}" class="btn btn-outline-dark">VER PRODUCTO</a>
            </div>
          </div>
        {% endfor %}
        <!--Bloque de producto 2
        <div class="col">
          <div class="card">
            <h4 class="card-title">Producto 2</h4>
            <div class="card-body">
              <img src="https://i.pinimg.com/564x/fa/01/f2/fa01f20613f95a4425ecd50cd5b246b2.jpg" class="card-img-top">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/producto" class="btn btn-outline-dark">VER PRODUCTO</a>
            </div>
          </div>
        </div> -->
        <!--Bloque de producto 3
        <div class="col">
          <div class="card">
            <h4 class="card-title">Producto 3</h4>
            <div class="card-body">
              <img src="https://i.pinimg.com/564x/90/b4/e1/90b4e1564c38b936c6bafc6e1e1f03bf.jpg" class="card-img-top">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/producto" class="btn btn-outline-dark">VER PRODUCTO</a>
            </div>
          </div>
        </div> -->
      </section>

      <div class="masproductos">
        <h5>Mas productos</h5>
        {% for top10 in prod10 %}
        <a href="{% url 'jaguaetePRUEDA:Producto' top10.id %}" class="list-group-item list-group-item-action">{{top10.titulo}}: {{top10.descripcion}}</a>
        {% endfor %}
        <!--<a href="/producto" class="list-group-item list-group-item-action">Producto 5: description</a>
        <a href="/proucto" class="list-group-item list-group-item-action">Producto 6: description</a>
        <a href="/producto" class="list-group-item list-group-item-action">Producto 7: description</a>
        <a href="/producto" class="list-group-item list-group-item-action">Producto 8: description</a>
        <a href="/producto" class="list-group-item list-group-item-action">Producto 9: description</a>
        <a href="/producto" class="list-group-item list-group-item-action">Producto 10: description</a>-->
      </div>

    </main>
    {% endblock Body %}
    <!--Final del cuerpo de pagina-->