{% extends "Jaguarete/General.html" %}
{% load static %}
    {% block Head %}  
    <title>Pagina de Producto</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/Producto.css' %}">
    {% endblock Head %}  
    
    {% block Body %}
    <!--Cuerpo de pagina-->
    <main>
        <section>
            <h1>{{this_prod.titulo}}</h1>
            <br>
            <!--Tarjeta de producto-->
            <div class="card mb-3">
                <!--Seccionar producto-->
                <div class="row g-0">
                    <!--Imagen de tarjeta-->
                    <div class="col-md-4">
                        <img class="card-img-top" src="{{ media_url }}{{ this_prod.imagen.url }}">
                    </div>
                    
                    <!--Contenido de tarjeta-->
                    <div class="col-md-8">
                        <article class="card-body">
                            <h2>{{this_prod.categoria}}</h2>
                            <p class="card-text">{{this_prod.descripcion}}
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <spam>Precio: $ {{this_prod.precio}}</spam>

                            {% if user.is_superuser %}
                                <a href="{% url 'jaguaetePRUEDA:editarproductos' %}" class="btn btn-outline-dark">Editar Producto</a>
                            {% else %}
                                <a href="{% url 'jaguaetePRUEDA:carrito' %}" class="btn btn-outline-dark">Agregar al carrito</a>
                            {% endif %}
                        </article>
                    </div>
                    <!--Fin de contenido de tarjeta-->
                </div>
            </div>
        <!--Fin tarjeta producto-->
        </section>
    </main>
    <!--Final del cuerpo de pagina-->
    {% endblock %}
       