{% extends "Jaguarete/General.html" %}
{% load static %}
    {% block Head %}  
    <title>Pagina de registro</title>
    <link rel="stylesheet" href="{% static 'Jaguarete/Registro.css' %}" >
    {% endblock Head %}

    {% block Body %}
    <!--Cuerpo de pagina-->
    <main>
        <section class="card">
            <h1>Registrarse en nuestra web</h1>
            <br>
            <form>
                <!--Registrar email-->
                <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="useremail">
                    </div>
                </div>

                <!--Registrar usuario-->
                <div class="mb-3 row">
                    <label for="usuario" class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username">
                    </div>
                </div>

                <!--Registrar password-->
                <div class="mb-3 row">
                    <label for="Password" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputpassword">
                    </div>
                </div>

                <!--Confirmar Password-->
                <div class="mb-3 row">
                    <label for="confirmar" class="col-sm-2 col-form-label">Repetir Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>

                    <!--Box de Boton-->
                <div class="boton">
                    <input class="btn btn-lg btn-outline-dark" type="submit" value="REGISTRARSE">
                </div>
            </form>
        </section>
    </main>
    <!--Final del cuerpo de pagina-->
    {% endblock %}
        